//-
    Main Footer

footer.main-footer
    .container
        .row
            .col-3
                h3 Polecane projekty
            .col-3
                h3 Ostatnie modyfikacje
            .col-3
                h3 Przydatne linki
            .col-12
                p
                    small Copyright 2015 - 2016 Mateusz Archiciński © All rights reserved
                        