//-
    Main Footer

footer.main-footer
    .container
        .row
            .col-4
                h3.main-footer__heading= data.mainFooter.recommendedProjects.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                ul.main-footer__list
                    li 1
                    li 2
                    li 3
            .col-4
                h3.main-footer__heading= data.mainFooter.recentChanges.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                ul.main-footer__list
                    li 1
                    li 2
                    li 3
            .col-4
                h3.main-footer__heading= data.mainFooter.findMe.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                ul.main-footer__list
                    li
                        a(href="#") 1
                    li 2
                    li 3
            .col-12
                p.main-footer__copyright
                    small &#169; #{data.mainFooter.copyright}
                        