//-
    Main Footer

footer.main-footer
    .container
        .row
            .col-3
                h2 Znajdź mnie
            .col-3
                h2 Nawigacja
            .col-3
                h2 Kontakt