//-
    Main Wrapper

main.main-wrapper
    section.home-wrapper
        header
            h1 Front-End Developer
                            
    section.about-me-wrapper
        .container
            .row
                .col-4
                .col-4
                .col-4
    sectin.services-wrapper
    section.portfolio-wrapper
    section.contact-wrapper