//~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* EXTENDS *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~//


%clearfix {
    @include clearfix;
}


%no-padding-margin {
    padding: 0;
    margin: 0;
}


%keep-white-color-on-hover {
    &:hover {
        color: $color__white;
    }
}