//~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* TYPOGRAPHY *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~//


//* FONTS: Raleway & Source Sans Pro *//
@include font-face("Raleway", "../fonts/Raleway/Raleway-Thin", normal, 100, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ThinItalic", italic, 100, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraLight", normal, 200, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraLightItalic", italic, 200, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Light", normal, 300, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-LightItalic", italic, 300, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Regular", normal, 400, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-RegularItalic", italic, 400, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Medium", normal, 500, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-MediumItalic", italic, 500, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-SemiBold", normal, 600, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-SemiBoldItalic", italic, 600, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Bold", normal, 700, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-BoldItalic", italic, 700, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraBold", normal, 800, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraBoldItalic", italic, 800, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Black", normal, 900, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-BlackItalic", italic, 900, ttf);

@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight", normal, 200, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic", italic, 200, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Light", normal, 300, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-LightItalic", italic, 300, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Regular", normal, 400, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-RegularItalic", italic, 400, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-SemiBold", normal, 600, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic", italic, 600, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Bold", normal, 700, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic", italic, 700, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Black", normal, 900, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic", italic, 900, ttf);


//* HEADINGS *//
// .primary-heading
$primary-heading__font-size: $base__font-size * 2 !default;
$primary-heading__font-weight: $font-weight__lighter !default;
$primary-heading__text-transform: uppercase !default;
// ::after
$primary-heading__after__width: #{(150 / 16)}em !default;
$primary-heading__after__height: #{(3 / 16)}em !default;
$primary-heading__after__background: $primary-color !default;
$primary-heading__after__font-size: $primary-heading__font-size / 4 !default;
$primary-heading__after__border-radius: 20% !default;
$primary-heading__after__margin: #{(5 / 16)}em auto 0 !default;
// .secondary-heading .tertiary-heading .quaternary-heading
$secondary-heading__font-size: $primary-heading__font-size - 0.5 !default;
$tertiary-heading__font-size: $secondary-heading__font-size - 0.25 !default;
$headings__font-weight: $base__font-weight !default;
$headings__padding-bottom: #{(4 / 16)}em !default;
$headings__border-bottom: 1px solid $primary-color !default;
$quaternary-heading__font-size: $tertiary-heading__font-size - 0.1 !default;


//.primary-heading {
//    font-size: $primary-heading__font-size;
//    font-weight: $primary-heading__font-weight;
//    text-transform: $primary-heading__text-transform;
//    @include after {
//        content: "";
//        width: $primary-heading__after__width;
//        height: $primary-heading__after__height;
//        background: $primary-heading__after__background;
//        display: block;
//        font-size: $primary-heading__after__font-size;
//        border-radius: $primary-heading__after__border-radius;
//        margin: $primary-heading__after__margin;
//    }
//}
//
//.secondary-heading {
//    font-size: $secondary-heading__font-size;
//}
//
//.tertiary-heading {
//    font-size: $tertiary-heading__font-size;
//}
//
//.secondary-heading,
//.tertiary-heading,
//.quaternary-heading {
//    font-weight: $headings__font-weight;
//    padding-bottom: $headings__padding-bottom;
//    border-bottom: $headings__border-bottom;
//}
//
//.quaternary-heading {
//    font-size: $quaternary-heading__font-size;
//    border-bottom: 0;
//    margin: 0;
//}


//* TEXT *//
// __normal
$text-normal__font-size: $base__font-size !default;
// __small
$text-small__font-size: $text-normal__font-size - 0.15 !default;
// __medium
$text-medium__font-size: $text-normal__font-size+0.15 !default;
// __large
$text-large__font-size: $text-medium__font-size+0.15 !default;
// -muted
$text-muted__color: $secondary-text-color !default;
// strong
$strong__font-weight: $font-weight__bold !default;


.text {
    &-small {
        font-size: $text-small__font-size;
    }
    &-normal {
        font-size: $text-normal__font-size;
    }
    &-medium {
        font-size: $text-medium__font-size;
    }
    &-large {
        font-size: $text-large__font-size;
    }
    // sass-lint:disable no-important
    &-center {
        text-align: center !important;
    }
    &-left {
        text-align: left !important;
    }
    &-right {
        text-align: right !important;
    }
    // sass-lint:enable no-important
    &-hidden {
        @include no-text;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-muted {
        color: $text-muted__color;
    }
}

strong {
    font-weight: $strong__font-weight;
}