//~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* TYPOGRAPHY *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~//


//* FONTS: Raleway & Source Sans Pro & Fontello *//
@include font-face("Raleway", "../fonts/Raleway/Raleway-Thin", normal, 100, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ThinItalic", italic, 100, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraLight", normal, 200, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraLightItalic", italic, 200, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Light", normal, 300, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-LightItalic", italic, 300, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Regular", normal, 400, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-RegularItalic", italic, 400, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Medium", normal, 500, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-MediumItalic", italic, 500, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-SemiBold", normal, 600, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-SemiBoldItalic", italic, 600, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Bold", normal, 700, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-BoldItalic", italic, 700, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraBold", normal, 800, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraBoldItalic", italic, 800, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Black", normal, 900, ttf);
@include font-face("Raleway", "../fonts/Raleway/Raleway-BlackItalic", italic, 900, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight", normal, 200, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic", italic, 200, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Light", normal, 300, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-LightItalic", italic, 300, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Regular", normal, 400, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-RegularItalic", italic, 400, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-SemiBold", normal, 600, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic", italic, 600, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Bold", normal, 700, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic", italic, 700, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-Black", normal, 900, ttf);
@include font-face("Source Sans Pro", "../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic", italic, 900, ttf);
@include font-face("Fontello", "../fonts/Fontello/Fontello", normal, normal, ttf);


//* HEADINGS *//
// .heading.white
$heading__white__color: $color__white !default;
// .heading.unique-1::first-letter
$heading__unique-1__font-size: 3em !default;
$heading__unique-1__color: $primary-color !default;
// .heading-1
$heading-1__font-size: $base__font-size * 4.75 !default;
$heading-1__font-weight: $font-weight__bolder-9 !default;
// .heading-2
$heading-2__font-size: 3em !default;
// .heading-3
$heading-3__font-size: $base__font-size * 1.55 !default;
$heading-3__font-weight: $font-weight__normal !default;
// .heading-4
$heading-4__font-size: $base__font-size * 1.25 !default;
$heading-4__font-weight: $font-weight__bolder-8 !default;
// .heading-5
$heading-5__font-size: 1.05em !default;
// .heading-2 & .heading-5
$heading-2-5__font-weight: $font-weight__bolder-8 !default;


.heading {
    font-family: "Raleway";
    margin: 0;
    &.white {
        color: $heading__white__color;
    }
    &-unique-1 {
        &:first-letter {
            line-height: 0;
            font-size: $heading__unique-1__font-size;
            color: $heading__unique-1__color;
        }
    }
    &-1 {
        font-size: $heading-1__font-size;
        font-weight: $heading-1__font-weight;
    }
    &-2 {
        font-size: $heading-2__font-size;
    }
    &-3 {
        font-size: $heading-3__font-size;
        font-weight: $heading-3__font-weight;
    }
    &-4 {
        font-size: $heading-4__font-size;
        font-weight: $heading-4__font-weight;
    }
    &-5 {
        font-size: $heading-5__font-size;
    }
    &-2,
    &-5 {
        font-weight: $heading-2-5__font-weight;
    }
}


//* TEXT *//
// -normal
$text-normal__font-size: $base__font-size !default;
// -small
$text-small__font-size: $text-normal__font-size - 0.15 !default;
// -medium
$text-medium__font-size: $text-normal__font-size + 0.15 !default;
// -large
$text-large__font-size: $text-medium__font-size + 0.15 !default;
// -bolded & strong
$text-bolded-strong__font-weight: $font-weight__bolder !default;
// -muted
$text-muted__color: $secondary-text-color !default;


.text {
    &-small {
        font-size: $text-small__font-size;
    }
    &-normal {
        font-size: $text-normal__font-size;
    }
    &-medium {
        font-size: $text-medium__font-size;
    }
    &-large {
        font-size: $text-large__font-size;
    }
    &-bolded,
    strong {
        font-weight: $text-bolded-strong__font-weight;
    }
    // sass-lint:disable no-important
    &-center {
        text-align: center !important;
    }
    &-left {
        text-align: left !important;
    }
    &-right {
        text-align: right !important;
    }
    &-justify {
        text-align: justify !important;
    }
    // sass-lint:enable no-important
    &-hidden {
        @include no-text;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-muted {
        color: $text-muted__color;
    }
}


//* PARAGRAPH *//


.paragraph {
    &.beginning {
        margin-top: 0.5em;
    }
    &.ending {
        margin-bottom: 0.5em;
    }
}