//~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* ICONS *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~//


// .icon
$icon__font-family: "Fontello" !default;
$icon__font-size: 16px !default;
$icon__font-weight: normal !default;
// .icon-125
$icon-125__font-size: $icon__font-size * 1.25 !default;
// .icon-15
$icon-15__font-size: $icon__font-size * 1.5 !default;
// .icon-2
$icon-2__font-size: $icon__font-size * 2 !default;
// .icon-5
$icon-5__font-size: $icon__font-size * 5 !default;


.icon {
    &::before {
        display: inline-block;
        font-family: $icon__font-family;
        //font-size: $icon__font-size; icons should inherit font-size property
        font-size: inherit;
        font-style: normal;
        font-variant: $icon__font-weight;
        font-weight: normal;
        text-decoration: none;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &-125 {
        &::before {
            font-size: $icon-125__font-size;
        }
    }
    &-15 {
        &::before {
            font-size: $icon-15__font-size;
        }
    }
    &-2 {
        &::before {
            font-size: $icon-2__font-size;
        }
    }
    &-5 {
        &::before {
            font-size: $icon-5__font-size;
        }
    }
    &-birthday:before {
        content: '\f1fd';
    }
    &-briefcase::before {
        content: '\e809';
    }
    &-cancel::before {
        content: '\e800';
    }
    &-clock::before {
        content: '\e80d';
    }
    &-code::before {
        content: '\f121';
    }
    &-codepen::before {
        content: '\f1cb';
    }
    &-desktop::before {
        content: '\f108';
    }
    &-down-open-1::before {
        content: '\e805';
    }
    &-eye:before {
        content: '\e80e';
    }
    &-info::before {
        content: '\f129';
    }
    &-facebook::before {
        content: '\f09a';
    }
    &-github::before {
        content: '\f113';
    }
    &-globe:before {
        content: '\e80c';
    }
    &-gplus::before {
        content: '\f0d5';
    }
    &-history:before {
        content: '\f1da';
    }
    &-laptop::before {
        content: '\f109';
    }
    &-left-open::before {
        content: '\e807';
    }
    &-lightbulb::before {
        content: '\f0eb';
    }
    &-linkedin::before {
        content: '\f0e1';
    }
    &-location:before {
        content: '\e80b';
    }
    &-mail:before {
        content: '\e80a';
    }
    &-mail-alt:before {
        content: '\f0e0';
    }
    &-menu:before {
        content: '\f0c9';
    }
    &-mobile:before {
        content: '\f10b';
    }
    &-ok:before {
        content: '\e80f';
    }
    &-phone::before {
        content: '\e802';
    }
    &-right-open::before {
        content: '\e808';
    }
    &-star::before {
        content: '\e804';
    }
    &-twitter::before {
        content: '\f099';
    }
    &-up-open-1::before {
        content: '\e806';
    }
    &-user::before {
        content: '\e803';
    }
    &-wrench::before {
        content: '\e801';
    }
    // Icons Img
    &-img {
        width: 48px;
        height: 48px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
    }
    &-html5 {
        background-image: url(../images/skills-technologies/html5-logo.svg);
        
    }
    &-pug {
        background-image: url(../images/skills-technologies/pug-logo.svg);
    }
    &-json {
        background-image: url(../images/skills-technologies/json-logo.svg);
    }
    &-css3 {
        background-image: url(../images/skills-technologies/css3-logo.svg);
    }
    &-sass {
        background-image: url(../images/skills-technologies/sass-logo.svg);
    }
    &-bootstrap {
        background-image: url(../images/skills-technologies/bootstrap-logo.svg);
    }
    &-rwd {
        background-image: url(../images/skills-technologies/rwd-logo.svg);
    }
    &-javascript {
        background-image: url(../images/skills-technologies/javascript-logo.svg);
    }
    &-es6 {
        background-image: url(../images/skills-technologies/es6-logo.png);
    }
    &-jquery {
        background-image: url(../images/skills-technologies/jquery-logo.svg);
    }
    &-angularjs {
        background-image: url(../images/skills-technologies/angularjs-logo.svg);
    }
    &-ajax {
        background-image: url(../images/skills-technologies/ajax-logo.svg);
    }
    &-nodejs {
        background-image: url(../images/skills-technologies/nodejs-logo.svg);
    }
    &-npm {
        background-image: url(../images/skills-technologies/npm-logo.svg);
    }
    &-bower {
        background-image: url(../images/skills-technologies/bower-logo.svg);
    }
    &-gulp {
        background-image: url(../images/skills-technologies/gulp-logo.svg);
    }
    &-wordpress {
        background-image: url(../images/skills-technologies/wordpress-logo.svg);
    }
    &-git {
        background-image: url(../images/skills-technologies/git-logo.svg);
    }
    &-photoshop {
        background-image: url(../images/skills-technologies/photoshop-logo.svg);
    }
    &-services-website {
        background-image: url(../images/services/browser-2.svg);
    }
    &-services-devices {
        background-image: url(../images/services/transfer.svg);
    }
    &-services-admin {
        background-image: url(../images/services/015-analytics.svg);
    }
    &-services-spa {
        background-image: url(../images/services/browser-7.svg);
    }
    &-services-api {
        background-image: url(../images/services/database-3.svg);
    }
}