//~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* ICONS *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~//


// .icon
$icon__font-family: "Fontello" !default;
$icon__font-size: 16px !default;
$icon__font-weight: normal !default;
// .icon-125
$icon-125__font-size: $icon__font-size * 1.25 !default;
// .icon-15
$icon-15__font-size: $icon__font-size * 1.5 !default;
// .icon-2
$icon-2__font-size: $icon__font-size * 2 !default;


.icon {
    &::before {
        display: inline-block;
        font-family: $icon__font-family;
        font-size: $icon__font-size;
        font-style: normal;
        font-variant: $icon__font-weight;
        font-weight: normal;
        text-decoration: none;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &-125 {
        &::before {
            font-size: $icon-125__font-size;
        }
    }
    &-15 {
        &::before {
            font-size: $icon-15__font-size;
        }
    }
    &-2 {
        &::before {
            font-size: $icon-2__font-size;
        }
    }
    &-birthday:before {
        content: '\f1fd';
    }
    &-briefcase::before {
        content: '\e809';
    }
    &-cancel::before {
        content: '\e800';
    }
    &-code::before {
        content: '\f121';
    }
    &-codepen::before {
        content: '\f1cb';
    }
    &-desktop::before {
        content: '\f108';
    }
    &-down-open-1::before {
        content: '\e805';
    }
    &-facebook::before {
        content: '\f09a';
    }
    &-github::before {
        content: '\f113';
    }
    &-globe:before {
        content: '\e80c';
    }
    &-gplus::before {
        content: '\f0d5';
    }
    &-laptop::before {
        content: '\f109';
    }
    &-left-open::before {
        content: '\e807';
    }
    &-lightbulb::before {
        content: '\f0eb';
    }
    &-linkedin::before {
        content: '\f0e1';
    }
    &-location:before {
        content: '\e80b';
    }
    &-mail:before {
        content: '\e80a';
    }
    &-mail-alt:before {
        content: '\f0e0';
    }
    &-mobile:before {
        content: '\f10b';
    }
    &-phone::before {
        content: '\e802';
    }
    &-right-open::before {
        content: '\e808';
    }
    &-star::before {
        content: '\e804';
    }
    &-twitter::before {
        content: '\f099';
    }
    &-up-open-1::before {
        content: '\e806';
    }
    &-user::before {
        content: '\e803';
    }
    &-wrench::before {
        content: '\e801';
    }
}