//-
    About Me ~ Skills & Technologies

.about-me-section
    header.about-me-section-header
        span(aria-hidden="true" class="icon icon-15 icon-desktop about-me-section-icon")
        span.filling-line
        h3.heading.heading-4.text-center
            | #{data.mainWrapper.aboutMeWrapper.skillsTechnologies.h3[0]}
            br
            | #{data.mainWrapper.aboutMeWrapper.skillsTechnologies.h3[1]}
        span.filling-line.ending
    .about-me-section-body
        p.paragraph.beginning.text-center= data.mainWrapper.aboutMeWrapper.skillsTechnologies.p
        ul.row.align-content-center.align-items-center.justify-content-center.skills__list
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-html5 skills-item-icon")
                span.skills-item-title HTML5
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-pug skills-item-icon")
                span.skills-item-title Pug
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-json skills-item-icon")
                span.skills-item-title JSON
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-css3 skills-item-icon")
                span.skills-item-title CSS3
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-sass skills-item-icon")
                span.skills-item-title Sass
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-bootstrap skills-item-icon")
                span.skills-item-title Bootstrap
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-rwd skills-item-icon")
                span.skills-item-title RWD
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-javascript skills-item-icon")
                span.skills-item-title JavaScript
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-es6 skills-item-icon")
                span.skills-item-title ES6
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-jquery skills-item-icon")
                span.skills-item-title jQuery
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-angularjs skills-item-icon")
                span.skills-item-title AngularJS
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-ajax skills-item-icon")
                span.skills-item-title AJAX
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-nodejs skills-item-icon")
                span.skills-item-title NodeJS
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-npm skills-item-icon")
                span.skills-item-title NPM
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-bower skills-item-icon")
                span.skills-item-title Bower
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-gulp skills-item-icon")
                span.skills-item-title Gulp
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-wordpress skills-item-icon")
                span.skills-item-title WordPress
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-git skills-item-icon")
                span.skills-item-title Git
            li.skills-item
                span(aria-hidden="true" class="icon-img icon-photoshop skills-item-icon")
                span.skills-item-title Photoshop