//-
    About Me Wrapper

section(id="about-me" class="section about-me-wrapper")
    .container
        .row.no-gutters.flex-column.align-items-center
            .section-decoration
                span.icon.icon-user.section-decoration-icon
            header.section-header
                h2.heading.heading-2.heading-unique-1.text-center= data.mainWrapper.aboutMeWrapper.header.h2
                .heading-separator
                    .heading-separator__line
                    .heading-separator__square.primary
                    .heading-separator__line
                p.section-header-description= data.mainWrapper.aboutMeWrapper.header.p