//-
    About Me ~ Skills & Technologies

.about-me-section
    header.row.no-gutters.align-items-center.about-me-section-header
        span.icon.icon-15.icon-desktop.about-me-section-icon
        span.filling-line
        h3.heading.heading-4.text-center
            | #{data.mainWrapper.aboutMeWrapper.skillsTechnologies.h3[0]}
            br
            | #{data.mainWrapper.aboutMeWrapper.skillsTechnologies.h3[1]}
        span.filling-line.ending
    .about-me-section-body
        p lorem ipsum