//-
    About Me Wrapper

section(id="about-me" class="section about-me-wrapper")
    .container
        .row.no-gutters.flex-column.align-items-center
            .section-decoration
                span.icon.icon-user.section-decoration-icon
            header.section-header
                h2.heading.heading-2.heading-unique-1.text-center= data.mainWrapper.aboutMeWrapper.header.h2
                .heading-separator
                    .heading-separator__line
                    .heading-separator__square.primary
                    .heading-separator__line
                p.section-header-description= data.mainWrapper.aboutMeWrapper.header.p
        .row
            .col-6
                figure.dev-face__wrapper
                    img(src="../images/Mateusz-Archiciński_Front-End-Developer.jpg" alt="Mateusz Archiciński Avatar" width="190" height="190" class="dev-face__img dev-face__img-rotate-28")
                    figcaption.dev-face__img-caption
                        span.dev-face__name Mateusz Archiciński
                        span.dev-face__profession Front-End Developer
                .about-me-section
                    header.about-me-section-header
                        h3 Profil
                .about-me-section
                    header.about-me-section-header
                        h3 Informacje i kontakt
                .about-me-section
                    header.about-me-section-header
                        h3 Atrybuty i cechy
            .col-6
                .about-me-section
                    header.about-me-section-header
                        h3 Edukacja
                .about-me-section
                    header.about-me-section-header
                        h3 Doświadczenie i kursy
            .col-12
                .about-me-section
                    header.about-me-section-header
                        h3 Umiejętności i technologie
                        