//-
    Contact Wrapper

section(id="contact" class="section contact-wrapper")
    .container
        .row.no-gutters.flex-column.align-items-center
            .section-decoration
                span.icon.icon-2.icon-phone.section-decoration-icon
            header.section-header
                h2.heading.heading-2.heading-unique-1.text-center= data.mainWrapper.contactWrapper.header.h2
                .heading-separator
                    .heading-separator__line
                    .heading-separator__square.primary
                    .heading-separator__line
                p.section-header-description= data.mainWrapper.contactWrapper.header.p