//-
    Services Wrapper

section(id="services" class="section services-wrapper")
    .container
        .row.no-gutters.flex-column.align-items-center
            .section-decoration
                span.icon.icon-wrench.section-decoration-icon
            header.section-header
                h2.heading.heading-2.heading-unique-1.text-center= data.mainWrapper.servicesWrapper.header.h2
                .heading-separator
                    .heading-separator__line
                    .heading-separator__square.primary
                    .heading-separator__line
                p.section-header-description= data.mainWrapper.servicesWrapper.header.p