//~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* COLORS *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~//


// Default Colors
$color__black-1:     #000;
$color__white:       #fff;


// Additional Colors
$color__navy-blue:   #0074d9; // Used for links


// Brands Colors
$color__facebook:    #3b5998;
$color__google:      #dd4b39;


// Colors of mateusz-archicinski.pl page
$color__persian-red: #c62828;
$color__red-orange:  #f44336;
$color__we-peep:     #feccd1;
$color__denim:       #1565c0;
$color__black-2:     #0a0a0a;
$color__seal-brown:  #131313;
$color__nero:        #212121;
$color__grey:        #757575;
$color__silver:      #bdbdbd;