//-
    Body Before Close

//JavaScript Sources
//build:js js/main.min.js async

//Bower Components
//bower:js

//endbower

//Web Page - JavaScript Sources
script(src="js/main.js")

//endbuild

if config.googleAnalytics.trackingId
    //Google Analytics
    include _google-analytics