//-
    Modals

div(role="dialog" class="modal-wrapper contact-form-success-js")
    .modal-content.modal-content-420
        p.paragraph.text-center
            strong= data.modalWrappers.contactFormSuccess[0]
            |  #{data.modalWrappers.contactFormSuccess[1]}