//-
    Modals

div(role="dialog" tabindex="-1" class="modal-wrapper modal-js")
    .modal-content
        p.paragraph.text-medium.text-center
            strong Dziękuje za wiadomość!
            br
            | Jesteśmy w kontakcie. Odpowiem na wiadomość w przeciągu najbliższych 24h :)