//~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* CONTACT *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~//


// .contact-wrapper
// sass-lint:disable no-color-literals
$contact-wrapper__background-color-lg: linear-gradient(to left, rgba($color__snow, 1) 0, rgba($color__snow, 1) 66.66666%, rgba($color__white, 1) 66.66666%, rgba($color__white, 1) 100%) !default;
$contact-wrapper__background-color-md: linear-gradient(to left, rgba($color__snow, 1) 0, rgba($color__snow, 1) 76.66666%, rgba($color__white, 1) 76.66666%, rgba($color__white, 1) 100%) !default;
// sass-lint:enable no-color-literals

// .contact-form-title
$contact-form-title__font-size: 1.35em !default;

// .contact-form__label
$contact-form__label__font-size: 1.05em !default;
$contact-form__label__font-weight: $font-weight__bolder !default;

// .contact-form__label-required
$contact-form__input-required__font-size: 0.55em !default;
$contact-form__input-required__color: $color__cinnabar !default;

// .contact-form__input & .contact-form__textarea
$contact-form__input-textarea__border: 1px solid lighten($divider-color, 10%) !default;
// .contact-form__input:focus & .contact-form__textarea:focus
$contact-form__input-textarea__focus__background-color: lighten($color__snow, 1%) !default;
$contact-form__input-textarea__focus__outline-color: $color__cornflower-blue !default;

// .contact-info__list > li
$contact-info__list__li__border-bottom: 1px solid $divider-color !default;


.contact {
    &-wrapper {
        padding-bottom: 153px;
        @include media-breakpoint-up(md) {
            background-image: $contact-wrapper__background-color-md;
        }
        @include media-breakpoint-up(lg) {
            background-image: $contact-wrapper__background-color-lg;
        }
    }
    &-form {
        &-wrapper {
            padding: 35px 40px 45px;
            margin: 25px 0 10px;
        }
        &-title {
            font-size: $contact-form-title__font-size;
            margin: 0.5em 0 1em;
        }
        &__label {
            font-size: $contact-form__label__font-size;
            font-weight: $contact-form__label__font-weight;
            margin-bottom: 0.5em;
        }
        &__input {
            height: 50px;
            line-height: 50px;
            padding: 0 15px;
            &-container {
                padding: 5px 0;
                margin: 15px 0;
            }
            &-required {
                @extend .black-star;
                vertical-align: top;
                font-size: $contact-form__input-required__font-size;
                color: $contact-form__input-required__color;
                margin-left: 2.5px;
            }
        }
        &__textarea {
            min-height: 150px;
            resize: vertical;
            padding: 15px;
        }
        &__label,
        &__input,
        &__input-required,
        &__textarea {
            display: inline-block;
        }
        &__input,
        &__textarea {
            width: 100%;
            border: $contact-form__input-textarea__border;
            outline: 1px solid transparent;
            box-shadow: none;
            transition: 0.15s background-color ease-in-out,
                        0.15s outline-color ease-in-out;
            &:focus {
                background-color: $contact-form__input-textarea__focus__background-color;
                outline-color: $contact-form__input-textarea__focus__outline-color;
            }
        }
        &__button {
            width: 270px;
            line-height: 52px;
            background-color: transparent;
            display: block;
            border-width: 2px;
            margin: 25px auto 0;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        &-loading {
            @extend %loading;
        }
    }
    &-info {
        &-wrapper {
            padding: 25px 0 10px;
        }
        &__list {
            @extend %no-list;
            & > li {
                padding: 35px 0;
                border-bottom: $contact-info__list__li__border-bottom;
            }
        }
    }
}