//~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* CONTACT *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~//


// .contact-wrapper
// sass-lint:disable no-color-literals
$contact-wrapper__background-color: linear-gradient(to left, rgba($color__snow, 1) 0, rgba($color__snow, 1) 66.66666%, rgba($color__white, 1) 66.66666%, rgba($color__white, 1) 100%) !default;
// sass-lint:enable no-color-literals

// .contact-form-title
$contact-form-title__font-size: 1.35em !default;
// .contact-form__label
$contact-form__label__font-size: 1.05em !default;
$contact-form__label__font-weight: $font-weight__bolder !default;
// .contact-form__input-alerts
$contact-form__input-alerts__font-size: 0.95em !default;
$contact-form__input-alerts__font-weight: $font-weight__bolder !default;
$contact-form__input-alerts__color: $color__cinnabar !default;
// .contact-form__input & .contact-form__textarea
$contact-form__input-textarea__border: 1px solid lighten($divider-color, 10%) !default;
// .contact-form__input:focus & .contact-form__textarea:focus
$contact-form__input-textarea__focus__background-color: lighten($color__snow, 1%) !default;

// .contact-info__list > li
$contact-info__list__li__border-bottom: 1px solid $divider-color !default;


.contact {
    &-wrapper {
        background-image: $contact-wrapper__background-color;
        padding-bottom: 153px;
    }
    &-form {
        &-wrapper {
            padding: 35px 40px 45px;
            margin: 25px 0 10px;
        }
        &-title {
            font-size: $contact-form-title__font-size;
            margin: 0.5em 0 1em;
        }
        &__label {
            font-size: $contact-form__label__font-size;
            font-weight: $contact-form__label__font-weight;
            margin-bottom: 0.5em;
        }
        &__input {
            height: 50px;
            line-height: 50px;
            padding: 0 15px;
            &-container {
                padding: 5px 0;
                margin: 15px 0;
            }
            &-alerts {
                font-size: $contact-form__input-alerts__font-size;
                font-weight: $contact-form__input-alerts__font-weight;
                color: $contact-form__input-alerts__color;
                & > * {
                    display: none;
                }
                & > *[data-alert] {
                    margin-top: 0.5em;
                }
            }
        }
        &__textarea {
            min-height: 150px;
            resize: vertical;
            padding: 15px;
        }
        &__label,
        &__input,
        &__textarea {
            display: inline-block;
        }
        &__input,
        &__textarea {
            width: 100%;
            border: $contact-form__input-textarea__border;
            transition: 0.15s background-color linear;
            &:focus {
                background-color: $contact-form__input-textarea__focus__background-color;
            }
        }
        &__button {
            width: 270px;
            background-color: transparent;
            display: block;
            border-width: 2px;
            margin: 25px auto 0;
        }
    }
    &-info {
        &-wrapper {
            padding: 25px 0 10px;
        }
        &__list {
            list-style: none;
            @extend %no-padding-margin;
            & > li {
                padding: 35px 0;
                border-bottom: $contact-info__list__li__border-bottom;
            }
        }
    }
}