//~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* DEV FACE *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~//


// .dev-face-wrapper
$dev-face__padding: 25px 0 10px ($about-me-section-body__padding-left) !default;
$dev-face__padding-left-xs: $about-me-section-body__padding-left-xs !default;

// .dev-face__img
$dev-face__img__box-shadow: 0 0 8px 0 rgba($color__black-1, 0.8) !default;
// .dev-face__img-caption::after
$dev-face__img-caption__after__background-color: $primary-color !default;

// .dev-face-name
$dev-face-name__font-size: 1.25em !default;
$dev-face-name__font-weight: $font-weight__bolder-8 !default;

// .dev-face-profession
$dev-face-profession__font-size: 0.875em !default;
$dev-face-profession__font-weight: $font-weight__bolder !default;


.dev-face {
    &-wrapper {
        padding: $dev-face__padding;
        margin: 0;
        @include media-breakpoint-down(xs) {
            padding-left: $dev-face__padding-left-xs;
        }
    }
    &__img {
        border-radius: 50%;
        box-shadow: $dev-face__img__box-shadow;
        margin: 0 auto;
        &-rotate-28 {
            transform: rotate(28deg);
        }
        &-caption {
            margin-top: 15px;
            &::after {
                content: '';
                width: 20%;
                height: 4px;
                background-color: $dev-face__img-caption__after__background-color;
                margin: 7.5px auto 0;
            }
        }
    }
    &-name {
        font-size: $dev-face-name__font-size;
        font-weight: $dev-face-name__font-weight;
    }
    &-profession {
        font-size: $dev-face-profession__font-size;
        font-weight: $dev-face-profession__font-weight;
    }
    &-name,
    &-profession {
        font-family: 'Raleway';
        text-align: center;
    }
    &__img,
    &__img-caption::after,
    &-name,
    &-profession {
        display: block;
    }
}