//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* HEADING SEPARATOR *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// .heading-separator__line
$heading-separator__line__background-color: $primary-text-color !default;
// .heading-separator__line.black
$heading-separator__line-black__background-color: $color__black-1 !default;
// .heading-separator__line.white
$heading-separator__line-white__background-color: $color__white !default;
// .heading-separator__line.primary
$heading-separator__line-primary__background-color: $primary-color !default;
// .heading-separator__line.accent
$heading-separator__line-accent__background-color: $accent-color !default;
// .heading-separator__square
$heading-separator__square__border: 1px solid $color__white !default;
// .heading-separator__square.primary
$heading-separator__square-primary__background-color: $primary-color !default;


.heading-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 0 18px;
    &__line {
        width: 30.80872%;
        height: 1px;
        background-color: $heading-separator__line__background-color;
        &-reduced-2 {
            width: 15%;
        }
        &-bolded-3 {
            height: 3px;
        }
        &.black {
            background-color: $heading-separator__line-black__background-color;
        }
        &.white {
            background-color: $heading-separator__line-white__background-color;
        }
        &.primary {
            background-color: $heading-separator__line-primary__background-color;
        }
        &.accent {
            background-color: $heading-separator__line-accent__background-color;
        }
    }
    &__square {
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border: $heading-separator__square__border;
        margin: 0 20px;
        &-incresed-2 {
            width: 20px;
            height: 20px;
        }
        &.primary {
            background-color: $heading-separator__square-primary__background-color;
            border: 0;
        }
    }
}