//~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* HOME *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~//


// .home-wrapper::after
// sass-lint:disable no-color-literals
$home-wrapper__after__background-image: linear-gradient(to top, $color__black-2 0%, rgba($color__seal-brown, 0.25) 50%, rgba($color__seal-brown, 0.25) 50%, $color__black-2 100%), url(../images/noise.png) !default;
// sass-lint:enable no-color-literals


.home {
    &-wrapper {
        background-image: url(https://t4.ftcdn.net/jpg/01/01/49/89/240_F_101498911_eR4DpsDTpdcwuD4UNOjdr9RDiFFAwn3Q.jpg); // img?
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-image: $home-wrapper__after__background-image;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
        }
    }
    &-row {
        position: relative;
        z-index: 2;
    }
    &-wrapper,
    &-row {
        min-height: calc(100vh + 200px);
    }
    &-header {
        margin-bottom: 100px;
        &-buttons {
            text-align: center;
            margin-top: 50px;
            & > * {
                width: 180px;
            }
        }
    }
}