//~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* HOME *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~//


// .home-wrapper
$home-wrapper__box-shadow: 0 1px 8px 0 rgba($color__black-1, 0.8) !default;
// .home-wrapper::after
// sass-lint:disable no-color-literals
$home-wrapper__after__background-image: linear-gradient(to top, $color__black-2 0%, rgba($color__seal-brown, 0.25) 50%, rgba($color__seal-brown, 0.25) 50%, $color__black-2 100%), url(../images/noise.png) !default;
// sass-lint:enable no-color-literals


.home {
    &-wrapper {
        background-image: url(../images/home-bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 0;
        box-shadow: $home-wrapper__box-shadow;
        @include media-breakpoint-down(sm) {
            background-attachment: scroll;
        }
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-image: $home-wrapper__after__background-image;
            position: absolute;
            display: block;
            left: 0;
            top: 0;
        }
    }
    &-row {
        position: relative;
        z-index: 1;
    }
    &-wrapper,
    &-row {
        height: calc(100vh + 64px);
        @media screen and (max-height: 559px) {
            height: 623px;
        }
    }
    &-header {
        max-width: 100%;
        overflow: hidden;
        padding-top: 138px;
        @media screen and (max-height: 559px) {
            padding-top: 0;
        }
        @include media-breakpoint-down(xs) {
            padding-top: 0;
        }
        &-title,
        &-subtitle {
            white-space: nowrap;
        }
        &-title {
            @include media-breakpoint-down(md) {
                font-size: 4.2em;
            }
            @include media-breakpoint-down(sm) {
                font-size: 3.1em;
            }
            @include media-breakpoint-down(xs) {
                font-size: 1.89999em;
            }
        }
        &-subtitle {
            letter-spacing: 10px;
            @include media-breakpoint-down(sm) {
                font-size: 1.1em;
            }
            @include media-breakpoint-down(xs) {
                font-size: 1em;
                letter-spacing: 4.25px;
            }
        }
        &-buttons {
            text-align: center;
            margin-top: 38px;
            @include media-breakpoint-down(xs) {
               margin-top: 25px; 
            }
            & .btn:not(.btn-round) {
                width: 180px;
                @include media-breakpoint-down(sm) {
                    width: 153px;
                }
                @include media-breakpoint-down(xs) {
                    width: 54px;
                    height: 54px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    border-radius: 50%;
                }
            }
            & .btn:nth-child(n+2) {
                margin-left: 25px;
            }
            &-bottom {
                margin-top: 84px;
                @include media-breakpoint-down(xs) {
                    margin-top: 15px;
                }
            }
        }
    }
}