//~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* HOME *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~//

// .home-wrapper
$home-wrapper__box-shadow: 0 1px 8px 0 rgba($color__black-1, 0.8) !default;
// .home-wrapper::after
// sass-lint:disable no-color-literals
$home-wrapper__after__background-image: linear-gradient(to top, $color__black-2 0%, rgba($color__seal-brown, 0.25) 50%, rgba($color__seal-brown, 0.25) 50%, $color__black-2 100%), url(../images/noise.png) !default;
// sass-lint:enable no-color-literals


.home {
    &-wrapper {
        background-image: url(https://t4.ftcdn.net/jpg/01/01/49/89/240_F_101498911_eR4DpsDTpdcwuD4UNOjdr9RDiFFAwn3Q.jpg); // img?
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        box-shadow: $home-wrapper__box-shadow;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-image: $home-wrapper__after__background-image;
            position: absolute;
            display: block;
            z-index: 1;
            left: 0;
            top: 0;
        }
    }
    &-row {
        position: relative;
        z-index: 2;
    }
    &-wrapper,
    &-row {
        height: calc(100vh + 64px);
    }
    &-header {
        padding: 175px 0 59px;
        margin-bottom: 25px;
        &-buttons {
            text-align: center;
            margin-top: 38px;
            & > .btn {
                width: 180px;
            }
            & > .btn:nth-child(n+2) {
                margin-left: 25px;
            }
        }
    }
}