//~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* INFO *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~//


.info {
    &-block {
        white-space: nowrap;
    }    
    &-title {
        &.i-block {
            width: 37.85%;
            vertical-align: top;
        }
    }
    
    &-description {
        &.i-block {
            width: 62.15%;
        }
    }
    &-block,
    &-title,
    &-description {
        display: block;
    }
    &-title,
    &-description {
        white-space: normal;
    }
    &-title.i-block,
    &-description.i-block {
        display: inline-block;
    }    
    &-link {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
    &-title,
    &-description,
    &-link {
        @extend %break-word;
    }
    &-icon {
        margin-left: 10px;
    }
}