//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* LANGUAGE SETTINGS *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// .language-settings-separator-left::before & .language-settings-separator-top::before
$language-settings-separator-left-top__background-color: $accent-color !default;
// .language-settings-separator-left::before
$language-settings-separator-left-top__margin: (($site-nav__main-header__height - 20px) / 2) 15px 0 1px !default;


.language-settings {
    &__list {
        @extend %flex;
        @extend .justify-content-center;
        @extend %no-list;
    }
    &-separator {
        &-left,
        &-top {
            &::before {
                content: '';
                background-color: $language-settings-separator-left-top__background-color;
                display: block;
            }            
        }
        &-left {
            &::before {
                width: 1px;
                height: 20px;
                margin: $language-settings-separator-left-top__margin;
            }            
        }
        &-top {
            margin-top: 15px;
            position: relative;
            padding-top: 1px;
            &::before {
                width: 20px;
                height: 1px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
            }            
        }
    }
    &__link {
        padding: 20px 5px;
        &::after {
            display: none;
        }
    }
}