//~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MODAL *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~//


// .modal-wrapper
$modal-wrapper__background-color: rgba($color__black-1, 0.5) !default;

// .modal-content
$modal-content__background-color: $color__white !default;


.modal {
    &-wrapper,
    &-content {
        left: 0;
        right: 0;
        margin: auto;
    }
    &-wrapper {
        background-color: $modal-wrapper__background-color;
        position: fixed;
        visibility: hidden;
        z-index: -999;
        top: 0;
        bottom: 0;
        @include opacity(0);
        transition-delay: 0;
        transition-duration: 0.3s;
        transition-property: visibility, z-index, opacity;
        transition-timing-function: ease-in-out;
        &.open {
            visibility: visible;
            z-index: 999;
            @include opacity(1);
        }
    }
    &-content {
        &-420 {
            width: 420px;
            @media screen and (max-width: 420px) {
                width: 100%;
            }
        }
        background-color: $modal-content__background-color;
        position: absolute;
        top: 50%;
        transform: translateY(-75%);
        padding: 25px 30px;
    }
}