//~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* PORTFOLIO *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~//


// .portfolio-filters__button
$portfolio-filters__button__font-size: 0.95em !default;
$portfolio-filters__button__font-weight: $font-weight__normal !default;
$portfolio-filters__button__color: $secondary-text-color !default;
// .portfolio-filters__button:hover
$portfolio-filters__button__hover__color: $primary-color !default;
// .portfolio-filters__button.active
$portfolio-filters__button__active__color: $primary-color !default;
$portfolio-filters__button__active__border-color: $primary-color !default;


.portfolio {
    &-wrapper {
        
    }
    &-filters {
        &__list {
            list-style: none;
            padding: 20px 0;
            margin: 0;
        }
        &__button {
            font-size: $portfolio-filters__button__font-size;
            font-weight: $portfolio-filters__button__font-weight;
            letter-spacing: 2.5px;
            color: $portfolio-filters__button__color;
            margin: 5px;
            transition: 0.15s color ease-in-out, 0.15s border-color ease-in-out;
            &::after {
                display: none;
            }
            &:hover {
                color: $portfolio-filters__button__hover__color;
            }
            &.active {
                color: $portfolio-filters__button__active__color;
                border-color: $portfolio-filters__button__active__border-color;
            }
        }
    }
    &-items {
        min-height: 200px;
        position: relative;
        transition: 0.3s height ease-in-out;
    }
    &-item {
        width: 33.33333%;
        height: 250px;
        background-color: $color__snow;
        display: block;
        padding: 25px;
        border: 1px solid $primary-text-color;
        transition-delay: 0;
        transition-duration: 0.4s;
        transition-property: position, left, top, transform, opacity;
        transition-timing-function: ease-in-out;
        
        
        @media screen and (max-width: 1199px) {
            width: 100%;
        }
        
        
        &-title {
            margin-top: 15px;
        }
        &-description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &-buttons {
            margin-top: 25px;
            & > .btn {
                width: 49%;
                margin: 0 0.5%;
            }
        }
        &.hide {
            visibility: hidden;
            transform: scale(0);
            @include opacity(0);
        }
        &.show {
            z-index: 1;
            visibility: visible;
            @include opacity(1);
        }
    }
}


@media screen and (max-width: 1199px) {
    .main-header,
    .main-footer {
        display: none;
    }
    .section {
        display: none;
        &.portfolio-wrapper {
            display: block;
        }
    }
}