//~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* SECTION *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~//


// .section:nth-child(odd)
$section__odd__background-color: $color__snow !default;
// .section-decoration
$section-decoration__border: 10px solid $color__white !default;
$section-decoration__box-shadow: 2.5px 2.5px 10px 0 rgba($color__black-1, 0.1) !default;
// .section-decoration-icon::before
$section-decoration-icon__before__background-color: $primary-color !default;
$section-decoration-icon__before__font-size: 32px !default;
$section-decoration-icon__before__color: $color__white !default;
$section-decoration-icon__before__box-shadow: 0 0 0 25px $primary-color !default;
// .section-header-description
$section-header-description__font-size: 1.05em !default;


.section {
    &:nth-child(odd) {
        background-color: $section__odd__background-color;
    }
    &-decoration {
        width: 75.5px;
        height: 75.5px;
        transform: perspective(99px) translateZ(1px) rotate(45deg);
        overflow: hidden;
        border: $section-decoration__border;
        box-shadow: $section-decoration__box-shadow;
        margin-top: -38px;
        &-icon {
            &::before {
                line-height: 1;
                background-color: $section-decoration-icon__before__background-color;
                display: block;
                transform: perspective(99px) translate3d(0px, 11px, 1px) rotate(-45deg);
                font-size: $section-decoration-icon__before__font-size;
                text-align: center;
                color: $section-decoration-icon__before__color;
                box-shadow: $section-decoration-icon__before__box-shadow;
            }
        }
    }
    &-header {
        padding: 115px 0 65px;
        &-description {
            font-size: $section-header-description__font-size;
            text-align: center;
            margin: 0;
        }
    }
}