//~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~~ SERVICES ~~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~//


// .services-1-item
$services-1-item__background-color-0: $color__white !default;
$services-1-item__border: 1px solid rgba($color__black-1, 0.1) !default;


.services {
    &-wrapper {
        padding-bottom: 157px;
    }
    &-container {
        width: 1140px;
        overflow: hidden;
        padding: 0 15px;
        margin: 0 auto;
        @include media-breakpoint-down(lg) {
            width: 100%;
            padding: 0;
        }
    }
    &-item {
        width: 305px;
        background-color: $services-1-item__background-color-0;
        border: $services-1-item__border;
        padding: 25px;
        margin: 35px auto;
        &-icon {
            width: 100%;
            height: 115px;
        }
        &-title {
            min-height: 48px;
            margin-top: 15px;
        }
        &-description {
            min-height: 95px;
            @extend %ellipsis;
        }
        &-button {
            background-color: transparent;
            margin: 25px auto 0;
        }
        &-icon,
        &-button {
            display: block;
        }
    }
}


// .owl-carousel-services.owl-carousel .owl-dot.active span
$owl-carousel-services__owl-carousel__owl-dot-active__span__background-color: $primary-color !default;


.owl-carousel-services {
    //touch-action: none; // To prevent warning console log message more ---> https://www.chromestatus.com/features/5093566007214080
    &.owl-carousel {
        .owl-dot {
            span {
                transition: 0.15s transform cubic-bezier(.25,.95,.95,1.35);
            }
            &.active span {
                background-color: $owl-carousel-services__owl-carousel__owl-dot-active__span__background-color;
                transform: scale(1.5);
            }
        }
    }
}