//~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* SIDE LOGO *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~//

.side-logo {
    &__img {
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}