//~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* SITE NAV *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~//


// .site-nav-wrapper
$site-nav-wrapper__height: $site-nav__main-header__height !default;

// .site-nav__link
$site-nav__link__height: $site-nav-wrapper__height !default;
$site-nav__link__font-size: 0.85em !default;
$site-nav__link__font-weight: $font-weight__bolder-7 !default;
$site-nav__link__color: $tertiary-text-color !default;
// .site-nav__link:hover
$site-nav__link-hover__color: $color__white !default;
// .site-nav__link:after
$site-nav__link-after__background-color: $primary-color !default;

// .site-nav__link.active
$site-nav__link-active__color: $color__white !default;
// .site-nav__link.active:after
$site-nav__link-active-after__background-color: $primary-color-dark !default;


.site-nav {
    &-wrapper {
        height: $site-nav-wrapper__height;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &__list {
        list-style: none;
        @extend %no-padding-margin;
    }
    &__link {
        height: $site-nav__link__height;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $site-nav__link__font-size;
        font-weight: $site-nav__link__font-weight;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $site-nav__link__color;
        padding: 20px;
        transition: 0.3s color ease-in-out;
        &:hover {
            color: $site-nav__link-hover__color;
            &::after {
                height: 3px;
            }
        }
        &::after {
            content: '';
            width: 35px;
            height: 0;
            background-color: $site-nav__link-after__background-color;
            position: absolute;
            display: block;
            left: 50%;
            bottom: 14px;
            transform: translateX(-50%);
            transition: 0.2s height ease-in-out;
        }
        &.active {
            color: $site-nav__link-active__color;
            &::after {
                height: 3px;
                background-color: $site-nav__link-active-after__background-color;
            }
        }
    }
    &__button {
        &-toggle {
            display: none;
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }
}