//~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* SITE LOGO *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~//


// .site-logo__wrapper
$site-logo__wrapper__line-height: $site-nav__main-header__height !default;


.site-logo {
    &-wrapper {
        line-height: $site-logo__wrapper__line-height;
    }
    &__img {
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}