//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN FOOTER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// .main-footer
$main-footer__background-color: $color__nero !default;
$main-footer__box-shadow: 0 0 8px 0 rgba($color__black-1, 0.8) !default;
// .main-footer__copyright::after
// sass-lint:disable no-color-literals
$main-footer__copyright__after__background-image: radial-gradient(ellipse at center, rgba($color__white, 0.1) 0, rgba($color__black-1, 0) 100%) !default;
// sass-lint:enable no-color-literals
// .main-footer__link:hover
$main-footer__link__hover__color: $tertiary-text-color !default;
// .main-footer__list .main-footer__copyright
$main-footer__list-copyright__color: $color__white !default;


.main-footer {
    background-color: $main-footer__background-color;
    position: relative;
    padding: 35px 0 30px;
    box-shadow: $main-footer__box-shadow;
    &__list {
        list-style: none;
        padding: 0 0 25px 65px;
        & > li {
            overflow-wrap: break-word;
        }
    }
    &__link {
        text-decoration: none;
        color: inherit;
        transition: 0.3s color ease-in-out;
        &:hover {
            color: $main-footer__link__hover__color;
        }
    }
    &__findme {
        display: flex;
        flex-direction: column;
        &-body {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            padding-bottom: 25px;
            & > .btn {
                width: 48px;
                height: 48px;
                margin: 5px;
            }
        }
        
    }
    &__copyright {
        position: relative;
        text-align: center;
        padding-top: 28px;
        &::after {
            content: "";
            width: 40%;
            height: 3px;
            background-image: $main-footer__copyright__after__background-image;
            position: absolute;
            display: block;
            left: 30%;
            top: 0;
        }
    }
    &__list,
    &__copyright {
        color: $main-footer__list-copyright__color;
        margin: 0;
    }
}