//~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* GENERAL *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~//


$box-sizing: border-box !default;

// html
$html__line-height: $base__line-height !default;

// body
$body__font-family: $base__font-family !default;
$body__font-size: $base__font-size !default;
$body__color: $primary-text-color !default;


*,
*::before,
*::after {
    @include box-sizing($box-sizing);
}


html {
    line-height: $html__line-height;
}


body {
    font-family: $body__font-family;
    font-size: $body__font-size;
    color: $body__color;
}


.clearfix {
    @extend %clearfix;
}


@include media-breakpoint-down(lg) {
    .main-wrapper .section,
    .main-footer {
        display: none;
    }
    .main-wrapper .section.home-wrapper,
    .main-wrapper .section.about-me-wrapper,
    .main-wrapper .section.services-wrapper,
    .main-wrapper .section.portfolio-wrapper,
    .main-wrapper .section.contact-wrapper,
    .main-wrapper + .main-footer {
        display: block;
    }
}