//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN HEADER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// .main-header
$main-header__height: $site-nav__main-header__height !default;
// .main-header & .main-header__fixed
$main-header__fixed__background-color: $color__nero !default;
$main-header__fixed__box-shadow: 0 0 8px 0 rgba($color__black-1, 0.8) !default;


@mixin main-header-hide() {
    visibility: hidden;
    @include transform(translate3d(0, -100%, 1px));
    @include opacity(0);
}


.main-header {
    width: 100%;
    height: $main-header__height;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    &-fixed {
        position: fixed;
        backface-visibility: hidden;
        &,
        &.hide {
            @include main-header-hide();
        }
        &.hide,
        &.show {
            transition-delay: 0s;
            transition-duration: 0.3s;
            transition-property: visibility, transform, opacity, filter;
            transition-timing-function: ease-in-out;
        }
        &.show {
            visibility: visible;
            @include transform(translate3d(0, 0, 1px));
            @include opacity(1);
            @media screen and (max-height: ($main-header__height * 6)) {
                @include main-header-hide();
            }
        }
    }
    &,
    &-fixed {
        background-color: $main-header__fixed__background-color;
        box-shadow: $main-header__fixed__box-shadow;
    }
    &-embedded:not(&-fixed) {
        background-color: transparent;
        box-shadow: none;
    }
}