//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN HEADER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// .main-header
$main-header__height: $site-nav__main-header__height !default;
// .main-header__fixed
$main-header__fixed__background-color: $color__nero !default;
$main-header__fixed__box-shadow: 0 0 8px 0 rgba($color__black-1, 0.8) !default;


.main-header {
    width: 100%;
    height: $main-header__height;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    &-fixed {
        background-color: $main-header__fixed__background-color;
        position: fixed;
        box-shadow: $main-header__fixed__box-shadow;
        &,
        &.hide {
            @include transform(translate3d(0, -100%, 0));
            @include opacity(0);
        }
        &.hide,
        &.show {
            transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
        }
        &.show {
            @include transform(translate3d(0, 0, 0));
            @include opacity(1);
        }
    }
}