//~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* DISPLAY *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~//


.display {
    &-block {
        
    }
    &-none {
        display: none;
    }
    &-sm {
        &-block {
            @include media-breakpoint-up(sm) {
                display: block;
            }
        }
        &-none {
            @include media-breakpoint-up(sm) {
                display: none;
            }
        }
    }
    &-xl{
        &-block {
            @include media-breakpoint-up(xl) {
                display: block;
            }
        }
        &-none {
            @include media-breakpoint-up(xl) {
                display: none;
            }
        }
    }
}